/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1 {
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-weight: 600;
}

h2 {
  margin-bottom: 4px;
  cursor: pointer;
}

h3 {
  margin: 0;
}

/* Header Styles */

header {
  padding: 24px;
  position: fixed;
  width: 100%;
  clear: both;
}

.left-nav {
  float: left;
}

.nav-logo {
  text-decoration: none;
  color: #222;
}

.nav-item-container {
  margin-top: 16px;
}

.nav-item {
  display: block;
  text-decoration: none;
  color: #222;
  margin-bottom: 4px;
  font-size: 14px;
  margin: 4px 0;
  cursor: pointer;
}

.active-nav-item {
  color: #0000ff
}

.profile-nav-container {
  float: right;
}

.profile-nav {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 48px;
  border-radius: 50px;
  cursor: pointer;
}

.header-hover {
  width: 40px;
  text-align: center;
  margin-right: 8px;
  transition: 0.3s;
}

/* Profile Expand Styles */

.profile-expand-container {
  background: white;
  height: 100vh;
  width: calc(50% - 49px);
  border-left: 1px solid #efefef;
  padding: 24px;
  float: left;
}

.profile-expand-img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin-bottom: 24px;
  object-fit: cover;
}

.profile-expand-secondary {
  color: #aaa;
  cursor: pointer;
}

.profile-expand-label {
  display: block;
}

.profile-expand-input {
  display: block;
}

/* Dialog Styles */

.dialog-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.dialog-form-container {
  width: 75vw;
  height: 70vh;
  background: white;
  padding: 40px;
  margin: 10vh auto;
  overflow: auto;
  border-radius: 5px;
}

.dialog-note-form-container {
  width: 50vw;
  height: 50vh;
  background: white;
  padding: 40px;
  margin: 20vh auto;
  overflow: auto;
  border-radius: 5px;
}

.dialog-section-container {
  width: 50%;
  float: left;
}

.dialog-header-container {
  display: block;
  overflow: auto;
}

.dialog-header {
  margin: 0 0 24px;
  width: 300px;
  display: inline-block;
  float: left;
}

.dialog-x-button {
  display: inline-block;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

.dialog-x {
  margin: 4px 0;
  width: 12px;
}

.form-label {
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #222;
  height: 32px;
  outline: none;
}

.form-switch {
  border: none;
  background: none;
  padding: 12px 0;
  cursor: pointer;
}

.form-button {
  display: block;
  border: none;
  background: #0000ff;
  border-radius: 5px;
  padding: 12px 40px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

/* Homepage Styles */

.home-container {
  height: 70vh;
  width: 100vw;
  background: gold;
}

/* Feed Page Styles */

.feed-page-container {
  height: 100vh;
}

.list-container {
  padding: 24px 96px;
  display: inline-block;
  width: calc(50% - 192px);
  float: left;
  height: 100vh;
  overflow: auto;
}

.list-header-container {
  margin: 128px 0 24px;
  display: inline-block;
}

.list-read-button {
  margin: 128px 0 24px;
  float: right;
  background: transparent;
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.25s;
}

.list-read-button:hover {
  background: #efefef;
}

.list-header {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  display: inline-block;
  margin: -8px 0 0;
}

.list-count {
  font-size: 12px;
  vertical-align: top;
  margin-left: 8px;
}

.feed-section-container {
  margin-bottom: 24px;
  overflow: auto;
}

.feed-section-date {
  font-size: 12px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #222;
}

.article-container {
  display: inline-block;
  width: calc(50% - 1px);
  border-left: 1px solid #efefef;
  overflow: auto;
  height: 100vh;
}

.article-card-preview {
  height: 40x;
  width: 40px;
  object-fit: fill;
  margin-right: 8px;
  float: left;
}

.feed-section-card {
  font-size: 12px;
  border: none;
  background: none;
  text-align: left;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-bottom: 24px;
  width: 100%;
}

.feed-section-card:hover {
  opacity: 0.75;
  transition: 0.3s;
}

.article-card-arrow {
  margin-left: 8px;
  display: inline-block;
  font-size: 12px;
}

.feed-section-read {
  color: #aaa;
}

.hide-article-card-arrow {
  display: none;
}

.article-image-container img {
  width: calc(50vw - 1px);
  height: 40vw;
  object-fit: cover;
}

.article-h1 {
  font-family: "Times New Roman";
  font-style: italic;
  text-decoration: none;
  font-size: 24px;
  margin: 16px 24px;
  letter-spacing: -0.5px;
  color: #222;
  display: inline-block;
}

.article-content-link-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #0000ff;
  margin-left: 16px;
}

.article-note-item {
  margin: 8px 24px;
  background: #f5f5f5;
  padding: 16px;
  border-radius: 10px;
}

.article-p {
  font-size: 12px;
  letter-spacing: .25px;
  margin: 8px 24px;
}

.controls-container {
  overflow: overlay;
  float: right;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.controls-container button {
  background: #0000ff;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 4px;
}

.controls-container button:last-child {
  margin: 0;
}

.controls-container button:hover {
  transition: 0.3s;
  background: rgba(0, 0, 255, 0.8)
}

.control-button-circle {
  width: 36px;
}

.control-button-filled {
  padding: 0 24px;
}

/* Notes Page Styles */
.note-item-container {
  padding: 16px;
  background: #f5f5f5;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.note-item-content {
  font-size: 18px;
}

.note-item-from {
  color: #aaa;
}

/* Footer Styles */

footer {
  display: block;
  padding: 24px;
  background: #000;
  color: white;
}