body {
  font-family: "Heebo", sans-serif;
  background: #f5f5f5;
  color: #222;
  font-size: 14px;
  padding: 16px 40px;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-weight: 600;
}

h2 {
  margin-bottom: 4px;
  cursor: pointer;
}

h3 {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.25px;
  line-height: 16px;
}

/* Header Styles */

header {
  width: 100%;
  clear: both;
  border-bottom: 1px solid #222;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 16px;
}

.left-nav {
  font-size: 24px;
  font-weight: 600;
}

.logo-span {
  display: block;
  margin-top: 10px;
}

.header-hover {
  display: inline-block;
  font-weight: 400;
  margin-right: 8px;
  color: #666;
}

.nav-logo-gif {
  height: 56px;
  width: 56px;
  margin-right: 16px;
}

.nav-logo {
  text-decoration: none;
  color: #222;
  line-height: 10px;
  display: inline-block;
  transition: 0.5s;
}

.nav-logo:hover {
  color: #0000ff;
}

.nav-item-container {
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 36px;
}

.nav-item {
  display: block;
  text-decoration: none;
  color: #222;
  margin-bottom: 4px;
  font-size: 14px;
  margin: 4px 0 0 24px;
  float: left;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

.active-nav-item {
  color: #0000ff
}

.hamburger-menu-container {
  display: none;
  transition: 1s;
}

.profile-nav {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  margin-top: 3px;
  transition: 0.5s;
}

.profile-nav:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(170,170,170,0.61); 
  box-shadow: 0px 0px 10px 5px rgba(170,170,170,0.61);
}

.header-add-article-container {
  padding-top: 16px;
  border-top: 1px solid #222;
  margin-top: 16px;
}

.header-add-article-container input {
  border: none;
  outline: none;
  width: 90%;
  background: transparent;
}

.header-add-article-container button {
  background: transparent;
  border: none;
  font-family: "Heebo", sans-serif;
  color: #0000ff;
  font-weight: 700;
  width: 9%;
  padding: 0;
  text-align: right;
  cursor: pointer;
}

/* Loading Animation Styles */

.loading-animation-container {
  width: 33vw;
  height: 100vh;
  margin: 15vh auto;
}

.loading-animation-container img {
  width: 100%;
}

/* Profile Expand Styles */

.profile-expand-container {
  height: 120vh;
  width: calc(66vw - 145px);
  border-left: 1px solid #222;
  padding: 24px;
  float: left;
}

.profile-expand-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 24px;
  object-fit: cover;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.profile-expand-form-container {
  float: left;
  width: calc(100% - 120px);
}

.profile-expand-label {
  font-family: "Heebo", sans-serif;
}

.profile-expand-form-container input {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #222;
  height: 32px;
  outline: none;
  background: transparent;
  font-family: "Heebo", sans-serif;
}

.profile-expand-secondary {
  color: #aaa;
  cursor: pointer;
}

.profile-expand-label {
  display: block;
}

.profile-expand-input {
  display: block;
  border-radius: 0;
}

/* Dialog Styles */

.dialog-container {
  width: 100vw;
  height: 100vh;
  background: rgba(231,231,231,0.85);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.dialog-form-container {
  width: 75vw;
  height: 70vh;
  padding: 40px;
  margin: 10vh auto;
  overflow: auto;
  border-radius: 5px;
}

.dialog-note-form-container {
  width: 50vw;
  height: 50vh;
  padding: 40px;
  overflow: auto;
  margin: 0 auto;
}

.dialog-section-container {
  width: 50%;
  margin: 10vh auto;
}

.create-dialog-section-container {
  width: 50%;
  margin: 0 auto;
}

.edit-profile-dialog-section-container {
  width: 50%;
  margin: 0 auto;
}

.dialog-header-container {
  display: block;
  overflow: auto;
  margin-bottom: 24px;
}

.dialog-header {
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  line-height: 100%;
  margin: 0 0 24px;
  display: inline-block;
  float: left;
  color: #222;
  width: 100%;
}

.dialog-x-button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  top: 24px;
  right: 24px;
  position: fixed;
}

.dialog-x {
  margin: 4px 0;
  width: 16px;
}

.dialog-button {
  border: none;
  margin-right: 8px;
  padding: 12px 24px;
  background: #222;
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.dialog-button:hover {
  opacity: 0.75;
}

.form-label {
  display: block;
  font-family: "Heebo", sans-serif;
}

.form-input {
  display: block;
  width: calc(100% - 4px);
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #222;
  height: 32px;
  outline: none;
  background: transparent;
  font-family: "Heebo", sans-serif;
  border-radius: 0px;
}

.form-switch {
  border: none;
  background: none;
  padding: 12px 0;
  cursor: pointer;
  font-size: 14px;
  color: #222;
}

.form-button {
  display: block;
  font-size: 14px;
  border: none;
  background: #222;
  border-radius: 5px;
  padding: 12px 40px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.textarea-note-add {
  width: calc(100% - 32px);
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
    font-family: "Lora",serif;
    font-size: 14px;
    padding: 16px;
}

/* Homepage Styles */

.home-container {
  width: 100%;
  overflow: auto;
}

.left-home-container, .right-home-container {
  float: left;
  height: 200vh;
  width: 50%;
  overflow: scroll;
}

.left-home-container img, .right-home-container img {
  width: 100%;
  margin-bottom: -6px;
}

.home-explanation-container {
  padding: 64px 40px 64px 0;
}

.home-explanation-header {
  font-family: "Heebo";
  margin: 0;
  font-size: 80px;
  letter-spacing: -0.5px;
  line-height: 85%;
}

.home-get-started-button {
  margin-top: 24px;
  border: none;
  background: transparent;
  color: #0000ff;
  font-size: 24px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
}

.home-get-started-button:hover {
  color: #aaa;
}

.home-explanation-p {
  font-size: 32px;
  font-family: "Lora", serif;
}

.no-access-container {
  width: 50vw;
  margin: 20vh auto;
}

.no-access-container h3 {
  font-size: 32px;
  font-family: "Heebo", sans-serif;
  letter-spacing: -2px;
  line-height: 100%;
  margin-bottom: 16px
}

.no-access-container p {
  font-family: "Lora", serif;
  font-size: 14px;
}

/* Feed Page Styles */

.feed-page-container {
  height: 120vh;
}

.list-container {
  display: inline-block;
  padding: 48px 64px 40px 0;
  width: calc(34vw - 64px);
  float: left;
  height: calc(100vh - 165px);
  overflow: auto;
  max-width: 326.2px;
}

.list-header-container {
  margin-top: 6px;
  display: inline-block;
}

.list-read-button {
  margin-bottom: 24px;
  float: right;
  background: transparent;
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.25s;
  color: #222;
}

.list-read-button:hover {
  opacity: 0.8;
}

.list-header {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin: -8px 0 0;
}

.list-count {
  font-size: 12px;
  vertical-align: top;
  margin-left: 8px;
}

.feed-section-container {
  margin-bottom: 24px;
  overflow: auto;
}

.feed-section-date {
  font-size: 12px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #222;
}

.article-container {
  display: inline-block;
  width: calc(66vw - 145px);
  border-left: 1px solid #222;
  overflow: auto;
  height: calc(100vh - 165px);
  padding: 48px 0 40px 64px;
  max-width: 624px;
  margin-bottom: -4px;
}

.article-card-preview {
  height: 40x;
  width: 40px;
  object-fit: fill;
  margin-right: 8px;
  float: left;
}

.feed-section-card {
  font-size: 12px;
  border: none;
  background: none;
  text-align: left;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-bottom: 24px;
  width: 100%;
}

.feed-section-card:hover {
  opacity: 0.75;
  transition: 0.3s;
}

.article-card-arrow {
  margin-left: 8px;
  display: inline-block;
  font-size: 12px;
}

.feed-section-read {
  color: #aaa;
}

.hide-article-card-arrow {
  display: none;
}

.article-image-container img {
  width: 33.3%;
  height: auto;
  object-fit: cover;
  margin-top: -6px;
}

.article-h1 {
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 34px;
  color: #222;
  display: inline-block;
}

.article-content-link-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #0000ff;
  margin-left: 16px;
}

.article-note-item {
  background: white;
  padding: 16px 16px 4px;
  border-radius: 10px;
  font-family: "Lora";
}

.article-p {
  font-size: 14px;
  letter-spacing: .25px;
  font-family: "Lora";
  letter-spacing: -0.25px;
  line-height: 20px;
  padding-bottom: 40px;
}

.controls-container {
  overflow: overlay;
  float: right;
  position: absolute;
  bottom: 24px;
  align-content: center;
}

.controls-container button {
  background: #222;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 4px 8px 0;
  transition: 0.5s;
}

.controls-container button:last-child {
  margin: 0;
}

.controls-container button:hover {
  opacity: 0.8;
}

.control-button-circle {
  width: 36px;
}

.control-button-filled {
  padding: 0 24px;
}

.popup {
  border-radius: 50px !important;
}

.popupItem {
  font-family: "Heebo", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.popupItem:hover {
  text-decoration: none !important;
}

.article-note-icon-container {
  margin-top: 8px;
}

.article-note-edit-textarea {
  width: calc(100% - 32px);
  font-family: "Lora", serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 80px;
  padding: 16px;
  outline: none;
}

/* Notes Page Styles */
.note-item-container {
  padding: 24px;
  background: white;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.tags-dropdown {
  display: block;
  margin: 16px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 8px 16px;
  background: #f5f5f5;
  outline: none;
  height: 40px;
}

.note-item-content {
  font-size: 16px;  
  margin: 0 0 16px;
  font-family: "Lora";
  color: #222;
}

.note-item-from {
  color: #666;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  line-height: 110%;
  font-size: 12px;
}

.note-tag-container {
  margin-bottom: 16px;
}

.note-tag-bubble {
  padding: 4px 12px;
  background: #efefef;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  margin: 0;
}

.note-item-icon {
  width: 14px;
  padding: 12px;
  margin-right: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.note-item-icon:hover {
  opacity: 0.8;
  background: #efefef;
  border-radius: 10px;
}

.note-item-edit-input {
  height: 140px;
  width: calc(100% - 32px);
  border: 1px solid #ccc;
  font-family: "Lora", serif;
  font-size: 14px;
  padding: 16px 16px 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.note-item-save {
  border: none;
  width: 100%;
  font-family: "Heebo", sans-serif;
  background: #222;
  color: white;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

/* Footer Styles */

footer {
  border-top: 1px solid #222;
  padding: 64px 0 40px;
  display: block;
}

.footer-h1 {
  padding-bottom: 80px;
  display: inline-block;
}

.footer-logo-span {
  font-size: 96px;
  display: block;
  margin-top: -64px;
  letter-spacing: -1px;
}

.mailchimp-container {
  display: inline-block;
  float: right;
  width: 340px;
}

.mailchimp-container h3 {
  margin-bottom: 8px;
}

.mailchimp-container input {
  border: none;
  border-bottom: 1px solid #222;
  background: transparent;
  width: 340px;
  padding: 8px 0;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 0px;
}

.mailchimp-container button {
  border: none;
  background: transparent;
  color: #0000ff;
  font-family: 'Heebo',sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.mailchimp-container button:hover {
  opacity: 0.6
}

.footer-copyright {
  padding-top: 24px;
  border-top: 1px solid #222;
}

.footer-copyright span {
  margin-left: 24px;
}

.footer-copyright a {
  color: #222
}

/* Media Query Styles */

@media screen and (max-width: 769px) {
  /* Global Styles */
  body {
    padding: 16px;
  }
  
  /* Header Styles */
  .nav-item-container {
    display: none;
  }

  .hamburger-menu-container {
    display: inline-block;
    float: right;
    width: 24px;
    display: block;
  }

  .hamburger-menu-container img {
    width: 100%;
    margin-top: 16px;
  }

  /* Dialog Styles */

  .dialog-hamburger-menu-items {
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    display: block;
    margin-top: 16px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    cursor: pointer;
    line-height: 120%;
  }

  .dialog-hamburger-menu-items .header-hover {
    font-size: 16px;
    vertical-align: super;
    margin-right: 20px;
  }

  .dialog-hamburger-menu-container .mailchimp-container {
    position: absolute;
    bottom: 100px;
    width: calc(100% - 80px);
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 32px 24px 18px;
  }

  .dialog-hamburger-menu-container .mailchimp-container input {
    width: 100%;
  }

  .dialog-x-button {
    top: 32px;
    right: 16px;
  }
  
  .edit-profile-dialog-section-container, .create-dialog-section-container, .dialog-note-form-container {
    width: 100%;
    margin: 10vh 0 0;
  }

  .profile-expand-img {
    float: none;
  }

  .profile-expand-form-container {
    float: none;
    width: 100%
  }

  .dialog-button {
    margin-bottom: 8px;
  }

  /* Homepage Styles */
  .left-nav {
    float: none;
  }
  
  .left-home-container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .right-home-container {
    display: none;
  }

  .home-explanation-container {
    padding: 40px 0;
  }

  .home-explanation-header {
    font-size: 32px;
  }

  .home-get-started-button {
    font-size: 20px;
    margin-top: 16px;
  }

  .left-home-container img, .right-home-container img {
    width: 47vw;
    height: 140px;
    object-fit: cover;
  }

  .chrome-tab-preview-img {
    width: 100% !important;
    height: auto !important;
  }

  .home-explanation-p {
    font-size: 16px;
  }

  /* Dialog Styles */
  .dialog-form-container, .dialog-note-form-container {
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: calc(100vw - 32px);
  }

  .dialog-section-container, .create-dialog-section-container {
    margin: 10vh 0 0;
    width: 100%;
  }

  .dialog-header {
    font-size: 32px;
    display: block;
    margin-bottom: 24px;
  }

  .dialog-hamburger-form-input {
    background: transparent;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #222;
    width: calc(100% - 90px);
    margin-left: 40px;
    padding: 16px 0;
    outline: none;
  }

  .dialog-hamburger-form-button {
    background: none;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0000ff;
    border: none;
    float: right;
    margin-top: 16px;
    cursor: pointer;
    z-index: 100;
  }

  .textarea-note-add {
    
  }

  /* Feed Page Styles */

  .list-container {
    height: 200px;
    max-width: none;
    float: none;
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid #222;
  }

  .article-container {
    margin-bottom: -4px;
    border-left: none;
    height: auto;
    padding: 24px 0;
    width: 100%;
    max-width: none;
  }

  .list-header {
    font-size: 40px;
    letter-spacing: 0px;
    margin-bottom: 16px;
  }

  .list-read-button {
    margin-top: 8px;
  }

  .controls-container {
    position: relative;
  }

  .article-h1 {
    font-size: 28px;
    line-height: 28px;
  }

  /* Footer Styles */
  .footer-logo-span {
    font-size: 80px;
    margin-top: -56px;
  }

  .footer-h1 {
    display: block;
    padding-bottom: 24px;
  }

  .mailchimp-container {
    float: none;
    padding-bottom: 64px;
    width: auto;
  }
}

@media screen and (max-width: 533px) {
  .left-home-container img, .right-home-container img {
    width: 45vw;
  }
}